:root {
    --black: #000000;
    --darkgrey: #2b2b2b;
    --white: #ffffff;
    --cream: #e6e6dd;
    --gold: #959350;
    --milenaFarbe: #852479;
    --red: #8c1818e0;
    --pattyGreen: #155b55b3;
    --darkBlue: #0a0524ec;
    --darkBlueHover: #1e1062ec;
}
/* Home Page */
.left-column, .right-column {
  background-color: var(--darkgrey);
  color: var(--cream);
  border: 10px solid var(--cream);
  border-radius: 35px;
  height: 835px;
  padding: 22px;
  overflow: hidden; 
}

.link-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1400px) {
  .container {
    max-width: 2350px !important;
  }
}

.quiz-table {
  width: 100%;
  max-height: 700px;
  overflow-y: auto;
  margin-top: 30px;
  display: block;
}

.quiz-link {
  text-decoration: none;
  color: white;
}

.spalte1 {  width: 25%  !important; }
.spalte2 {  width: 6%  !important; }
.spalte3 {  width: 10%  !important; }
.spalte4 {  width: 10%  !important; }
.spalte5 {  width: 10%  !important; }
.spalte6 {  width: 15%  !important; }
.spalte7 {  width: 3%   !important; }
.spalte8 {  width: 3%   !important; }

.table>:not(caption)>*>* {
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state) !important;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  background-color: var(--darkBlue);
}

.table-striped>tbody>tr:nth-of-type(even)>* {
  background-color: rgba(6, 5, 8, 0.927);
}

.quiz-table > thead > tr > th {
  background-color: rgba(6, 5, 8, 0.927);
}

/* Button-Stile */
.button-1 {
    display: block;
    background: var(--cream) !important;
    color: #000000 !important;
    padding: 14px 28px !important;
    border: 3px solid black !important;
    border-radius: 8px !important;
    cursor: pointer !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    margin-top: 20px !important; 
}

.button-1:hover {
  background-color: #ffffffbb !important;
}

.button-2,
.link-container > Button {
  margin: 10px 0;
  padding: 10px;
  color: white;
  border: 3px solid var(--cream);
  background-color: var(--darkBlue);
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 20px;
}

.button-2:hover,
.link-container > Button:hover {
  background-color: var(--darkBlueHover);
  border: 3px solid var(--white) !important;
}

.timerButton {
  display: block !important;
  background-color: yellow !important;
  color: black !important;
}

.beantwortenButton {
  display: inline-block !important;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 200px !important;
  height: 80px !important;
  border: 2px solid green !important;
  font-size: 30px !important;
  font-weight: 600 !important;
}

.richtigButton {
  background-color: green !important;
  margin-right: 26px;
}

.falschButton {
  background-color: red !important;
}


/* Modal */
.modal-content {
  border: 5px solid white !important;
  border-radius: 7px !important;
  height: 800px !important;
  width: 1200px !important;
}

.modalQuestion {
  background-color: green !important;
}

.modalBody {
  background-color: var(--cream) !important;
  border-right: 15px solid var(--darkgrey);
  border-left: 15px solid var(--darkgrey);
  border-bottom: 15px solid var(--darkgrey);
  overflow-y: auto; 
  height: 700px !important;
}

.modalHeader,
.modalFooter {
  background-color: var(--darkgrey) !important;
  color: var(--cream);
  border: none !important;
  border-radius: 0 !important;
  height: 7%;
}

.modalText {
  font-size: 24px;
  font-weight: 700;
}

.modalInput {
  font-size: 36px !important;
  font-weight: 400 !important;
  height: 70px !important;
  margin-bottom: 20px !important;
  padding-bottom: 6px !important;
  border: 3px solid black !important;
}

.quiz-settings {
  display: inline-block;
  height: 120px !important;
  width: 514px;
  margin-right: 20px;
  border: 3px solid var(--darkgrey);
  background-color: var(--pattyGreen);
  border-radius: 20px;
  padding: 10px;
  font-size: 24px;
  color: white;
  margin-bottom: 25px;
}
    
.settings-label-h1 {
  margin-bottom: 10px;
  font-weight: bold;
}

.settings-slider {
  width: 100%;
  cursor: pointer;
}

.question-item {
  margin-bottom: 20px;
}

.answer-input, .question-input {
  width: 200px;
}

.question-input {
  width: 1060px;
  height: 140px;
}

.answer-input {
  background-color: var(--cream);
}

.question-number, .question-input, .options-container, .points-input {
  margin-bottom: 10px;
}

.button-secondary, .button-remove {
  margin-top: 10px;
  background-color: var(--pattyGreen) !important;
  color: white !important;
  font-size: 20px !important;
}

/* Quiz Spielen */
.quizSpielenContainer{
  display: flex;
}

.quizSpielenSpieler,
.quizSpielenQuiz {
  display: inline-block;
  padding: 20px;
  height: 700px;
  margin-left: auto !important;
  margin-right: auto !important;
  background-color: var(--pattyGreen);
  border: 4px solid black;
  width: 2000px !important;
  border-radius: 20px;
}

.currentSpielerStyle {
  font-size: 1.6rem; 
  color: rgb(105, 65, 65);
  font-weight: 800;
  text-align: center;
  background-color: var(--cream);
  padding: 10px; 
  border-radius: 20px;
  border: 10px solid var(--red);
  margin-bottom: 20px;
}

.quizSpielenSpieler {
  width: 15%;
  margin-top: 62px;
}

.quizSpielenQuiz {
  width: 80%;
}

.mainPage-container {
  padding: 20px;
}

.controls {
  margin-bottom: 20px;
}

.grid-container {
  display: grid;
  gap: 10px;
}

.grid-cell {
  background-color: var(--pattyGreen);
  color: white;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  border: 2px solid var(--darkgrey);
  border-radius: 7px;
}

.grid-cell:hover {
  background-color: #155b554a;
}

.grid-cell.answered {
  background-color: #d3d3d3;
  color: #a9a9a9;
  pointer-events: none;
}

.category-header {
  background-color: var(--red);
  color: black;
  font-weight: 800;
  font-size: 24px;
}

.category-header:hover {
  background-color: var(--red);
}

.wer-spielt-mit {
  display: flex;
  width: 100%;
  height: 500px;
}

.spieler-auswahl,
.ausgewählte-spieler {
  display: inline-block;
  height: 500px;
  padding-top: 10px;
  margin-left: 20px;
}

.spieler-auswahl {
  border-radius: 20px 0 0 20px;
  width: 300px;
}

.ausgewählte-spieler {
  border-radius: 0 20px 20px 0;
  width: 1300px;
}

.spielerNameLabel,
.spielerNameGewaehlt {
  font-size: 24px;
  margin-left: 8px;
  width: 130px;
  margin-bottom: 10px;
  background-color: var(--gold);
  color: white;
  padding-left: 6px;
}

.spielerNameGewaehlt {
  margin-left: -30px;
  width: 180px;
  background-color: white;
  color: var(--darkgrey);
  border: 1px solid var(--darkgrey);
}

.tabelle-container {
  background-color: var(--darkgrey);
  border: 2px solid var(--darkgrey);
  border-radius: 20px;
  color: white;
  padding: 15px;
  margin-right: 20px;
}

.tabelle-container > h3 {
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 18px;
  padding-left: 44px;
  border-bottom: 3px solid white;
}

.spieler-tabelle {
  width: 260px;
  font-size: 24px;
  margin-bottom: 30px;
}

.spieler-tabelle > thead {
  border-bottom: 3px solid white;
}

.spieler-tabelle > tbody {
  border-bottom: 3px solid white;
}

.individuellePunkte {
  height: 290px;
  width: 250px;
  margin-bottom: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid white;
}


/* Spielerverwaltung */
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  width: calc(100% - 22px);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

li {
  background-color: var(--milenaFarbe);
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px; 
  display: flex; 
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

li span {
  flex: 1;
}

.button-container {
  display: flex;
  gap: 5px;
}

li button {
  background-color: rgb(190, 22, 22);
  color: black;
}


.spieler-auswahl, .ausgewählte-spieler {
  margin-bottom: 20px;
}

.spieler-auswahl h4, .ausgewählte-spieler h4 {
  margin-bottom: 10px;
}

/* Anleitungen */
.anleitungTabGruppe {
  background-color: green;
}

.anleitungTab {
  background-color: rgb(212, 195, 69) !important;
  color: white !important;
} 

/* Icons */
.bearbeitenIcon, 
.loeschenIcon {
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  width: 24px; 
  height: 24px; 
}

.bearbeitenIcon {
  background-image: url('../img/icons/bleistift.png');
}

.loeschenIcon {
  background-image: url('../img/icons/mull.png');
}


/* .bearbeitenIcon:hover, .loeschenIcon:hover {
  opacity: 0.7;
}

.quiz-row td {
  vertical-align: middle;
  padding: 10px;
} */
