:root {
    --black: #000000;
    --darkgrey: #2b2b2b;
    --white: #ffffff;
    --cream: #e6e6dd;
    --gold: #959350;
    --milenaFarbe: #852479;
}

/* Button-Stile */
.button-1 {
    display: block;
    background: linear-gradient(90deg, var(--gold), var(--cream));
    color: #000000;
    padding: 14px 28px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-top: 20px; 
}

.button-1:hover {
    transform: scale(1.1);
}

.additional-content {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .quiz-settings {
    border: 2px solid black;
    background-color: rgb(243, 215, 215);
    border-radius: 20px;
    padding: 10px;
    width: 20%;
  }
  
  .settings-label-h1 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .settings-slider {
    width: 100%;
    cursor: pointer;
  }
  
  .button-1 {
    margin: 10px 0;
  }
  
  .question-container {
    margin-top: 20px;
  }
  
  .question-item {
    margin-bottom: 20px;
  }
  
  .question-number, .question-input, .options-container, .points-input {
    margin-bottom: 10px;
  }
  
  .button-secondary, .button-remove {
    margin-top: 10px;
  }
  



/* Grid-System */

/* .col-1      {display: inline-block;  border: 2px solid black;    width: 99.2%;    margin-right: -6px; padding: 5px;}
.col-2      {display: inline-block;  border: 2px solid black;    width: 49.4%;  margin-right: -6px; padding: 5px;}
.col-3      {display: inline-block;  border: 2px solid black;    width: 32.7%;  margin-right: -6px; padding: 5px;}
.col-4      {display: inline-block;  border: 2px solid black;    width: 24.4%;  margin-right: -6px; padding: 5px;}
.col-5      {display: inline-block;  border: 2px solid black;    width: 19.4%;  margin-right: -6px; padding: 5px;}
.col-6      {display: inline-block;  border: 2px solid black;    width: 16.05%; margin-right: -6px; padding: 5px;}
.col-7      {display: inline-block;  border: 2px solid black;    width: 14%;    margin-right: -6px; padding: 5px;}
.col-910    {display: inline-block;  border: 2px solid black;    width: 89.0%;  margin-right: -6px; padding: 5px;}
.col-10     {display: inline-block;  border: 2px solid black;    width: 9.6%;   margin-right: -6px; padding: 5px;} */