.accordion-content a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 1.2em; 
  padding-left: 25px; 
}

.accordion-content a:hover {
  color: #fff;
  background-color: #555;
}

.accordion-content a:active {
  color: #000;
}

.accordion-content a:focus {
  outline: none;
  background-color: #777;
}
