.navbar {
  display: flex;
  align-items: center;
  height: 120px;
  padding-left: 30px;
  justify-content: space-between;
  color: var(--cream);
}

.navbar-logo {
  margin-left: 10px !important;
  width: 240px;
  height: 80px;
  background-image: url('../img/LogoDunkelNavBar.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  margin-top: -20px;
}

.navbarTitle {
  margin-right: 60px;
  margin-bottom: 25px;
  font-size: 50px;
}