.navbar {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .navbar-logo {
    width: 240px;
    height: 210px;
    background-image: url('../img/LogoDunkel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: -40px;
    margin-left: 20px;
  }
  
  .navbar-buttons-container {
    display: flex;
    margin-left: 940px;
    margin-top: -70px;
  }
  
  .navbar-buttons {
    background-color: #e6e6dd;
    height: 60px;
    width: 250px;
    margin-right: 50px;
    margin-top: 60px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-buttons:hover {
    background-color: #959350;
  }
  